
@{
    ViewBag.Title = "PortfolioBot";
}

<style>
    body {
      background-color: #EEEDE7;
      font-family: Sans-serif;
    }

    #bot_container{
        position: fixed;
        top: 33%;
        left: 0;
        right: 0;
        background-color: #FFF;
        border-width: 2px;
        border-color: #74777b;
    }

</style>
<h2>PortfolioBot</h2>
<hr />

<div class="container">
    
</div>

@section scripts{
    <script>
        $(function () {
            
        });
    </script>
}